#backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#backButton:hover {
    background-color: #0056b3;
}